@tailwind base;
@tailwind components;
@tailwind utilities;
input{
  border: 1px solid rgb(58, 205, 0);
  width: 300px;
  border-radius: 12px;
  padding-left: 4px;
  height: 30px;
}
button{
  border: 2px solid rgb(54, 186, 54);
}